<%- include('partials/head') %>
<%- include('partials/navbar') %>

    <h1>The Home Page <%= 8+9 %>  </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea similique rerum tempora explicabo asperiores? Placeat doloremque, aut eum earum tempora sint sed accusamus eaque commodi soluta modi delectus quibusdam beatae nihil cum odio nam! Facilis deserunt iusto velit optio doloribus voluptatem dolor explicabo commodi esse!
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae quaerat temporibus reiciendis maxime accusantium! Perferendis vitae dolores, itaque natus, soluta voluptatem unde eaque ex, autem tenetur molestias ad quam error!</p>

<%- include('partials/footer') %>